@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');

*{
    margin:0px;
    padding:0px;
    box-sizing: border-box;
}
:root{
    --gray:#ECEFF9;
}
body{
    width:100%;
    min-height:100vh;
    font-family: sans-serif;

    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Open Sans', sans-serif;
    color:slategray;
    padding:20px 20px;
}
a{
    color:royalblue;
    text-decoration: none;

}

.container{
    display: flex;
    border-radius: 5px;
    border:15px solid var(--gray);
    max-width:800px;
    /* box-shadow: 0px 0px 12px -7px rgba(0, 0, 0, 0.6); */
}
.container > div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding:80px 50px 20px;
}

.left{
    border-right:1.5px solid var(--gray);
    flex:0.45;
}
.right{
    border-left:1.5px solid var(--gray);
    flex:0.55;
}

/* LEFT START */
.left a.log-in{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    text-align: center;
    padding:10px 20px;
    border-radius:3px;
    width:100%;
    border:2px solid var(--gray);
    font-size: 14px;
    color:rgba(0, 0, 0, 0.685);
    font-weight: 550;
    cursor:pointer;

}

.left a img{
    width: 15px;
    height: 15px;
    margin-right:10px;
}
small{
    display: block;
    margin:10px auto;
}

/* FORM START*/
form{
    width: 100%;
    margin-bottom:50px;
}
.form-control{
    margin-bottom: 20px;

}

.form-control  label{
    display: block;
    margin-bottom:5px;
    font-size: 14px;
    font-weight: 550;
    opacity:0.8;
    color:black;
    
}
.form-control  input{
    width:100%;
    padding:10px 10px;
    border:2px solid var(--gray);
    border-radius: 4px;
    font-weight: 500;
}
.form-control-checkbox{
    display: flex;
    justify-content: start;
    align-items: center;
}
.form-control-checkbox input{
    width:15px;
    height:15px;
}
.form-control-checkbox label{
    font-size:  13px;
    margin-left:5px;
}
.form-control-checkbox a{
    margin-left:auto;
    font-size: 13px;
    text-decoration: none;
    color: royalblue;
}

form button.log-in{
    width:100%;
    border-radius:5px;
    padding:10px 10px;
    border:2px solid var(--gray);
    margin-top:20px;
    background-color: #10182F;
    color:var(--gray);
    cursor:pointer;
}
/* FORM END */

.sign-up{
    margin-top:auto;
    color:black;

}

.sign-up span{
    color:royalblue;
}



/* LEFT END */

/* RIGTH START */
.row{
    display: flex;
    margin-bottom: 40px;
}
.row .icon{
    margin-right: 20px;
}
.row .icon i{
    color:royalblue;
}
.row .content h5{
    margin-bottom: 5px;
    font-size: 15px;
    font-weight: 600;
    color:black;

}
.row .content p{
    font-size: 13px;
    font-weight: 600;
    color:slategray
}


/* RIGTH END */


@media screen and (max-width:800px){
    body{
        padding:20px 5px;
    }
    .container > div{
      padding:80px 10px 20px;

    }
    .container{
        display: flex;
        max-width:800px;
        flex-direction: column;
    }

}